
body{
	margin: 0;
	padding:0;
}
nav{
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100px;
	padding: 10px 100px;
	box-sizing: border-box;
	transition: .5s;
}
nav .logo{
	float: left;
}

nav .logo img{
	height: 80px;
	transition: .5s;
}
nav ul{
	float: right;
	margin: 0;
	padding: 0;
	display: flex
}
nav ul li{
	list-style: none; 
}
nav ul li a{
	list-style: 80px;
	color: #262626;
	padding: 2px 20px; 
}